<form
  class="equipo-form-container"
  [formGroup]="equipoForm"
  (ngSubmit)="onSubmit()"
>
  <div class="header">
    <h2>Formulario de Registro de Equipo</h2>
  </div>

  <div class="form-cards-container">
    <!-- Información General -->
    <div class="equipo-card">
      <div class="card-header text-center text-white bg-primary">
        Información General
      </div>
      <div class="card-body">
        <div class="row">
          <div class="form-group col-md-6">
            <label for="area">Área</label>
        <select
  class="form-control"
  formControlName="areaSeleccionada"
  (change)="onAreaSeleccionada()"
>
  <option value="">Seleccione un área</option>
  <option *ngFor="let area of areas" [value]="area.id">
    {{ area.nombre }}
  </option>
</select>
          </div>
          <div class="form-group col-md-6">
            <label for="codigoEquipo">Código del Equipo</label>
            <input
              type="text"
              class="form-control"
              id="codigoEquipo"
              formControlName="codigoEquipo"
              [readonly]="true"
              placeholder="Se genera automáticamente al seleccionar el área"
            />
          </div>
          <div class="form-group col-md-6">
            <label for="descripcion">Descripción</label>
            <input
              type="text"
              class="form-control"
              id="descripcion"
              formControlName="descripcion"
            />
          </div>
          <div class="form-group col-md-6">
            <label for="tipo">Tipo</label>
            <input
              type="text"
              class="form-control"
              id="tipo"
              formControlName="tipo"
            />
          </div>
          <div class="form-group col-md-6">
            <label for="modelo">Modelo</label>
            <input
              type="text"
              class="form-control"
              id="modelo"
              formControlName="modelo"
            />
          </div>
          <div class="form-group col-md-6">
            <label for="marca">Marca</label>
            <input
              type="text"
              class="form-control"
              id="marca"
              formControlName="marca"
            />
          </div>
          <div class="form-group col-md-6">
            <label for="serie">Serie</label>
            <input
              type="text"
              class="form-control"
              id="serie"
              formControlName="serie"
            />
          </div>
          <div class="form-group col-md-6">
            <label for="ubicacionDelEquipo">Ubicación</label>
            <input
              type="text"
              class="form-control"
              id="ubicacionDelEquipo"
              formControlName="ubicacionDelEquipo"
            />
          </div>
          <div class="form-group col-md-6">
            <label for="utilizacion">Utilización</label>
            <input
              type="text"
              class="form-control"
              id="utilizacion"
              formControlName="utilizacion"
            />
          </div>
          <div class="form-group col-md-6">
            <label for="recibidoPor">Recibido Por</label>
            <input
              type="text"
              class="form-control"
              id="recibidoPor"
              formControlName="recibidoPor"
            />
          </div>
        </div>
      </div>
    </div>

    <!-- Compra y Garantía -->
    <div class="equipo-card">
      <div class="card-header text-center text-white bg-primary">
        Compra y Garantía
      </div>
      <div class="card-body">
        <div class="row">
          <div class="form-group col-md-6">
            <label for="proveedor">Proveedor</label>
            <input
              type="text"
              class="form-control"
              id="proveedor"
              formControlName="proveedor"
            />
          </div>
          <div class="form-group col-md-6">
            <label for="ordenDeCompra">Orden de Compra</label>
            <input
              type="text"
              class="form-control"
              id="ordenDeCompra"
              formControlName="ordenDeCompra"
            />
          </div>
          <div class="form-group col-md-6">
            <label for="factura">Factura</label>
            <input
              type="text"
              class="form-control"
              id="factura"
              formControlName="factura"
            />
          </div>
          <div class="form-group col-md-6">
            <label for="fechaDeCompra">Fecha de Compra</label>
            <input
              type="date"
              class="form-control"
              id="fechaDeCompra"
              formControlName="fechaDeCompra"
            />
          </div>
          <div class="form-group col-md-6">
            <label for="fechaFinGarantia">Fin de Garantía</label>
            <input
              type="date"
              class="form-control"
              id="fechaFinGarantia"
              formControlName="fechaFinGarantia"
            />
          </div>
          <div class="form-group col-md-6">
            <label for="garantia">Tipo de Garantía</label>
            <input
              type="text"
              class="form-control"
              id="garantia"
              formControlName="garantia"
            />
          </div>
          <div class="form-group col-md-6">
            <label for="precio">Precio</label>
            <input
              type="number"
              class="form-control"
              id="precio"
              formControlName="precio"
              min="0"
              step="0.01"
            />
          </div>
        </div>
      </div>
    </div>

    <!-- Hardware -->
    <div class="equipo-card">
      <div class="card-header text-center text-white bg-primary">Hardware</div>
      <div class="card-body">
        <div class="row">
          <div class="form-group col-md-6">
            <label for="procesador">Procesador</label>
            <input
              type="text"
              class="form-control"
              id="procesador"
              formControlName="procesador"
            />
          </div>
          <div class="form-group col-md-6">
            <label for="memoriaRamGB">Memoria RAM (GB)</label>
            <input
              type="number"
              class="form-control"
              id="memoriaRamGB"
              formControlName="memoriaRamGB"
              min="0"
            />
          </div>
          <div class="form-group col-md-6">
            <label for="almacenamientoGB">Almacenamiento (GB)</label>
            <input
              type="number"
              class="form-control"
              id="almacenamientoGB"
              formControlName="almacenamientoGB"
              min="0"
            />
          </div>
          <div class="form-group col-md-6">
            <label for="tipoAlmacenamiento">Tipo de Almacenamiento</label>
            <input
              type="text"
              class="form-control"
              id="tipoAlmacenamiento"
              formControlName="tipoAlmacenamiento"
            />
          </div>
          <div class="form-group col-md-6">
            <label for="placaBase">Placa Base</label>
            <input
              type="text"
              class="form-control"
              id="placaBase"
              formControlName="placaBase"
            />
          </div>
          <div class="form-group col-md-6">
            <label for="fuentePoderWatts">Fuente de Poder (W)</label>
            <input
              type="number"
              class="form-control"
              id="fuentePoderWatts"
              formControlName="fuentePoderWatts"
            />
          </div>
          <div class="form-group col-md-6">
            <label for="tarjetaGrafica">Tarjeta Gráfica</label>
            <input
              type="text"
              class="form-control"
              id="tarjetaGrafica"
              formControlName="tarjetaGrafica"
            />
          </div>
          <div class="form-group col-md-6">
            <label for="tieneTarjetaRed">¿Tiene Tarjeta de Red?</label>
            <select
              class="form-control"
              id="tieneTarjetaRed"
              formControlName="tieneTarjetaRed"
            >
              <option value="true">Sí</option>
              <option value="false">No</option>
            </select>
          </div>
          <div class="form-group col-md-6">
            <label for="tieneTarjetaSonido">¿Tiene Tarjeta de Sonido?</label>
            <select
              class="form-control"
              id="tieneTarjetaSonido"
              formControlName="tieneTarjetaSonido"
            >
              <option value="true">Sí</option>
              <option value="false">No</option>
            </select>
          </div>
          <div class="form-group col-md-6">
            <label for="gabinete">Gabinete</label>
            <input
              type="text"
              class="form-control"
              id="gabinete"
              formControlName="gabinete"
            />
          </div>
          <div class="form-group col-md-6">
            <label for="perifericosEntrada">Periféricos de Entrada</label>
            <input
              type="text"
              class="form-control"
              id="perifericosEntrada"
              formControlName="perifericosEntrada"
            />
          </div>
          <div class="form-group col-md-6">
            <label for="perifericosSalida">Periféricos de Salida</label>
       <select
  class="form-control"
  id="perifericosSalida"
  formControlName="perifericosSalida"
>
  <option value="">Seleccione un monitor</option>
  <option *ngFor="let monitor of monitoresDisponibles" [value]="monitor.id">
    {{ monitor.numeroSerie }}
  </option>
</select>
          </div>
          <div class="form-group col-md-6">
            <label for="componentes">Componentes</label>
            <input
              type="text"
              class="form-control"
              id="componentes"
              formControlName="componentes"
            />
          </div>
          <div class="form-group col-md-6">
            <label for="accesorios">Accesorios</label>
            <input
              type="text"
              class="form-control"
              id="accesorios"
              formControlName="accesorios"
            />
          </div>
        </div>
      </div>
    </div>

    <!-- Software y Red -->
    <div class="equipo-card">
      <div class="card-header text-center text-white bg-primary">
        Software y Red
      </div>
      <div class="card-body">
        <div class="row">
          <div class="form-group col-md-6">
            <label for="sistemaOperativo">Sistema Operativo</label>
            <input
              type="text"
              class="form-control"
              id="sistemaOperativo"
              formControlName="sistemaOperativo"
            />
          </div>
          <div class="form-group col-md-6">
            <label for="versionSO">Versión del S.O.</label>
            <input
              type="text"
              class="form-control"
              id="versionSO"
              formControlName="versionSO"
            />
          </div>
          <div class="form-group col-md-6">
            <label for="driversInstalados">Drivers Instalados</label>
            <input
              type="text"
              class="form-control"
              id="driversInstalados"
              formControlName="driversInstalados"
            />
          </div>
          <div class="form-group col-md-6">
            <label for="programasInstalados">Programas Instalados</label>
            <input
              type="text"
              class="form-control"
              id="programasInstalados"
              formControlName="programasInstalados"
            />
          </div>
          <div class="form-group col-md-6">
            <label for="utilidadesSistema">Utilidades</label>
            <input
              type="text"
              class="form-control"
              id="utilidadesSistema"
              formControlName="utilidadesSistema"
            />
          </div>
          <div class="form-group col-md-6">
            <label for="direccionIP">Dirección IP</label>
            <input
              type="text"
              class="form-control"
              id="direccionIP"
              formControlName="direccionIP"
            />
          </div>
          <div class="form-group col-md-6">
            <label for="direccionMAC">Dirección MAC</label>
            <input
              type="text"
              class="form-control"
              id="direccionMAC"
              formControlName="direccionMAC"
            />
          </div>
          <div class="form-group col-md-6">
            <label for="estado">Estado</label>
            <input
              type="text"
              class="form-control"
              id="estado"
              formControlName="estado"
            />
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="form-actions">
    <button type="submit" class="btn btn-primary">Guardar</button>
    <button type="reset" class="btn btn-secondary">Cancelar</button>
  </div>
</form>
